# ignore release files,
cpp/release/*

# ignore compiled mgranul 
mgranul

# ignore vscode files
*.vscode

# ignore webapp files
webapp/node_modules

#ignore java files
java/.idea
java/target
java/msgranul_server.iml

#ignore MacOs files
.DS_Store