# ignore release files,
cpp/release/*
cpp/bin/*
cpp/local/*

# ignore compiled mgranul 
mgranul

# ignore vscode files
*.vscode

# ignore webapp files
webapp/node_modules

#ignore java files
java/.idea
java/target
java/msgranul_server.iml

#ignore Python files
python/build
python/*.so
python/*.o
python/module
python/output_test_image.jpg

#ignore MacOs files
.DS_Store